html, body {
    font-family: 'Arsenal', sans-serif;
}

.wrapper {
    width:100%;
    height:100%;
}

header {
    padding: 10px 0;
    width:100%;
    display:flex;
    justify-content: center;
}

header .wrapper {
    padding-top:10px;
    padding-bottom:10px;
    background-color:#D0D5C2;
    border:2px solid black;
    border-radius:10px;
    max-width:1200px;
    text-align:center;
    display:inline-block;
}

button {
    background-color: #D0D5C2;
    border:none;
}


.container {
    text-align: center;
    padding: 20px 5px;
    margin:5px;
}

.container div {
    margin:5px;
    background-color:#D0D5C2;
    border:2px solid black;
    border-radius:10px;
}

p.title {
    font-size:24px;
}

p.desc, p.price {
    font-size:20px;
}




.container div img {
    max-width:100%;
}


.search {
    vertical-align: center;
}

#mobile-menu a {
    font-size:50px;
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 850px) {
    .hide-sm {
        display:none;
    }
}

@media only screen and (min-width : 851px) {
    .hide-lg {
        display:none;
    }


    .header-container {
        display:flex;
        line-height:32px;
        justify-content: space-between;
    }

    .header-container div a {
        font-size: 32px;
        text-decoration: underline;
        color:black;
    }

    .header-container div {

        width:27%;
    }


}


@media only screen and (min-width : 1201px) {
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container div {
        width:30%;
    }
}

@media (min-width: 851px) and (max-width : 1200px) {
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container div {
        width:45%;
    }

}


footer {
    width:100%;
    display:flex;
    justify-content: center;


}

footer .wrapper {

    max-width:1200px;
    background-color:#D0D5C2;
    border:2px solid black;
    border-radius:10px;
}

.footer-container {
    padding-top:25px;
    padding-bottom: 25px;
    display: flex;
}

.footer-container div {
    width:50%;
}

.footer-container div h2 {
    font-size:25px;
    text-transform: uppercase ;
    font-stretch: ultra-expanded;
}

.footer-container div p {
    font-size:20px;
}

.footer-container .left {
    padding-left:10px;
}

.footer-container .right {
    padding-right:10px;
    text-align: right;
}

.footer-container .right p {
    line-height:5px;
}


footer  a {
    text-decoration: underline;
    color:black;
}

p.title {
    text-transform: capitalize;
    font-weight: bold;
}

